<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mapa de Parqueadero</title>
    {% load static %}
    <link rel="stylesheet" href="/styles/mapa.css">ss
</head>
<body>
    <!-- Barra de Navegación -->
    <header class="navbar">
        <div class="logo">
            <img src="/assets/logo_sin_borde.png" alt="Logo Parqueadero" height="40">
            
        </div>
        <nav>
            <img src="/assets/vehiculo.png" height="30">
            <a href="#vehiculos">Vehículos</a>
            <a href="#reporte">Reporte</a>
            <a href="#mapa">Mapa</a>
            <a href="#modoNocturno">Modo nocturno</a>
            <a href="#factura">Factura</a>
        </nav>
        <div class="user">
            <img src="/assets/foto_perfil.png" alt="Icono Usuario" >
            
        </div>
    </header>

    <!-- Mapa de Parqueo -->
    <table class="parking-map">
        <tbody>
                <tr>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A1</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A2</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A3</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A4</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A5</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A6</td>
                </tr>
                <tr>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A7</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A8</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A9</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A10</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A11</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A12</td>
                </tr>
                <tr>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A13</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A14</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A15</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A16</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A17</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A18</td>
                </tr>
                <tr>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A19</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A20</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A21</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A22</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A23</td>
                    <td class="parking-spot disponible" onclick="toggleAvailability(this)">A24</td>
                </tr>
            </tbody>
    </table>

        <!-- Más filas de espacios de parqueo aquí -->
        <script src="/styles/mapa.js"></script>
        
    </section>
</body>
</html>
