<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mapa de Parqueadero</title>
    <link rel="stylesheet" href="/styles/mapa.css">
</head>
<body>
    <!-- Barra de Navegación -->
    <header class="navbar">
        <div class="logo">
            <img src="/assets/logo_sin_borde.png" alt="Logo Parqueadero" height="40">
            
        </div>
        <nav>
            <img src="/assets/vehiculo.png" height="30">
            <a href="#vehiculos">Vehículos</a>
            <a href="#reporte">Reporte</a>
            <a href="#mapa">Mapa</a>
            <a href="#modoNocturno">Modo nocturno</a>
            <a href="#factura">Factura</a>
        </nav>
        <div class="user">
            <img src="/assets/foto_perfil.png" alt="Icono Usuario" >
            
        </div>
    </header>

    <!-- Mapa de Parqueo -->
        <div class="row">
            <div class="parking-spot">A1</div>
            <div class="parking-spot truck">A2</div>
            <div class="parking-spot car">A3</div>
            <div class="parking-spot motorcycle">A4</div>
            <div class="parking-spot">A5</div>
            <div class="parking-spot car">A6</div>
            <div class="parking-spot truck">A7</div>
            <div class="parking-spot motorcycle">A8</div>
            <div class="parking-spot">A9</div>
            <div class="parking-spot">A10</div>
            <div class="parking-spot car">A11</div>
            <div class="parking-spot truck">A12</div>
            <div class="parking-spot motorcycle">A13</div>
            <div class="parking-spot">A14</div>
            <div class="parking-spot">A15</div>
            <div class="parking-spot truck">A16</div>
            <div class="parking-spot motorcycle">A17</div>
            <div class="parking-spot">A18</div>
            <div class="parking-spot">A19</div>
            <div class="parking-spot truck">A20</div>
            <div class="parking-spot motorcycle">A21</div>
            <div class="parking-spot">A22</div>
            <div class="parking-spot">A23</div>
            <div class="parking-spot">A23</div>
        </div>

        <!-- Más filas de espacios de parqueo aquí -->
        <script src="/styles/mapa.js"></script>

    </section>
</body>
</html>
